body{
    background-color:rgb(176, 208, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 4rem;

}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 40%;
}

.btn{
    padding: 1rem 2rem;
    font-size:1.5rem;
    background-color: #10afcb;
    border-radius: 1rem;
}

.btn:hover{
    background-color: #0e99aa;
    cursor: pointer;    
}

.num_disp{
    display:flex;
    padding:1rem;
    text-align:center;
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: #10afcb;

}
.row1, .row2, .row3{
    display: flex;
    gap: 1rem;
}